.page-container {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  padding: 30px;
  .page-content {
    padding: 10px 30px;
  }
}

.sidebar {
  background-color: #ffd04e;
  border-radius: 30px;
  text-align: center;
  padding:30px;
  overflow: hidden;
}
.menu-item {
  margin: auto auto 20px auto;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;

}
.menu-item-active {
  background-color: #e0b131;
}

.main-content-container {
  background-color: white;
  margin: 30px 0 0 0 ;
  padding: 30px;
  border-radius: 10px;
  min-width: 400px;
}
